body {                                              /* komentarz xd */
    background-color: rgba(245, 33, 33, 0.144);
}
h2 {
    color: #6320af;
    font-family: cursive;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
.center{
    text-align:center;
}
h3 {
    text-align: center;
    text-shadow: 1px 1px #111111;
    margin-top: 6em;
}
dl > dd {
    color:purple;
    font-family: cursive;
}
.zdj{
    width: 330px;
    height: 320px;
}
.skrót{
    font-family: 'Courier New';
}
.fabula {
    line-height: 1.6em;
}
h1 {
    font-size: 30px;
}
a:hover {
    color: deeppink;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:link {
    color: greenyellow;
}
.ty {
    text-transform: uppercase;
}
th {
    color: red;
}
a[href*="youtu.be"]{
    font-weight: bold;
}
    th.T, td.T {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }

.tabelaA {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
}
.s {
    text-align: center;
}
.srodek {
    text-align: center;
    font-weight: bold;
}
.kropka {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
}
.baner{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    background-color: cover;
}
#Film {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Film a{
    color: maroon !important;
}
.L td[rowspan="3"]{
    background-color: cyan;
}
dt::first-letter{
    font-weight: bold;
    font-style: italic;
}
p {
    text-indent: 50px;
    background-color: beige;
    font-family: 'Courier New';
}
.obsada {
    display: block;
    overflow: scroll;
    overflow: auto;
    width: 1053px;
    margin:auto;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
}
.Takmordo {
    margin:auto;
}
.wieksze {
    font-size: 1.4em;
}
.list > li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}